In [25]:
# CREATE CASSANDRA CONNECTION
import cassandra
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['0.0.0.0'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [26]:
# TEST THE CONNECTION SHOULD ERROR
try:
    session.execute("""select * from db001""")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [27]:
# CREATE A KEYSPACE TO DO OUR WORK
try:
    session.execute("""CREATE KEYSPACE IF NOT EXISTS udacity WITH REPLICATION = {'class': 'SimpleStrategy', 'replication_factor':1}""")
except Exception as e:
    print(e)

In [28]:
# SET THE KEYSPACE/SCHEMA NAME
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [29]:
# CREATE A TABLE IN THE DATABASE
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [30]:
# TEST TO SEE IF ANY DATA SHOULD BE 0
query = "select count(*) from music_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)
print(count.one())

Row(count=0)

In [31]:
# INSERT SOME DATA INTO TABLE
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + " VALUES (%s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

In [32]:
# QUERY THE TABLE AND PRINT OUT RESULTS
query = 'SELECT * FROM music_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Let it Be The Beatles

In [33]:
# QUERY THE TABLE BUT FILTER BY THE YEAR
query = 'SELECT * FROM music_library WHERE YEAR=1970'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1970 Let it Be The Beatles

In [34]:
# DROP TABLE FROM THIS DEMO
query = 'DROP TABLE music_library'
try: 
    rows = session.execute(query)
except Exception as e:
    print(e)

errors={'0.0.0.0:9042': 'Client request timeout. See Session.execute[_async](timeout)'}, last_host=0.0.0.0:9042

In [35]:
# CLOSE SESSION AND CLUSTER CONNECTION
session.shutdown()
cluster.shutdown()